@using EventEase.Models

<div id="cntEventList">
    <div class="event-header">
        <span>Date</span>
        <span>Event Name</span>
        <span>Location</span>
    </div>
    @foreach (var evt in Events)
    {
        <EventItemComponent Event="evt" />
    }
</div>

@code {
    [Parameter]
    public Event[] Events { get; set; } = Array.Empty<Event>();
}
